body {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 70px;
  margin-bottom: 10px;
}

h5 {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 300;
}

hr {
  display: block;
  width: 90%;
  background-color: gray;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.text-wall {
  max-width: 900px;
  padding: 0 50px;
  text-align: center;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.people {
  padding-top: 120px;
  width: 100vw;
}
