.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.modal-main {
  position: fixed;
  border: 3px solid black;
  background: white;
  border-radius: 30px;
  width: 50vw;
  height: auto;
  top: 50%;
  left: 50%;
  padding: 2em;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
}

.portrait img {
  width: 250px;
  border: 3px solid black;
  background-color: white;
}

.mcontent.text {
  flex: 2 0 50%;
  margin-right: 40px;
}

.return {
  display: flex;
  justify-content: center;
}

.return-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  height: 30px;
  font-weight: bold;
  width: 200px;
  cursor: pointer;
}

.return-button:hover {
  background-color: lightgray;
}

.mcontent h2 {
  font-size: 30px;
}
