.people-container {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: stretch;
  align-items: stretch;
}

.child {
  flex: 1 1 10%; /* <-- adjusting for margin */
  border: 1px solid black;
  min-width: 0px;
  width: auto;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.people-description {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.people-description p {
  max-width: 900px;
  text-align: center;
  margin-bottom: 50px;
}
