.pop img {
  width: 100vw;
  padding-bottom: 60px;
}

.pop-description {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}

.pop-description p {
  max-width: 900px;
  text-align: center;
}

.pop h2 {
  font-size: 60px;
  margin-top: 70px;
  margin-bottom: 25px;
  text-align: center;
}
